<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="content">
        <div class="logo"><a href="/home/<%=id%>">AlgoB</a></div>
        <ul class="links">
          <li><a href="/home/<%=id%>">Home</a></li>
          <li><a href="/home/<%=id%>/addNote">Add note</a></li>
          <li><a href="/home/<%=id%>/myNotes">My Notes</a></li>
          <li><a href="/home/<%=id%>/about">About</a></li>
        </ul>
      </div>
      <div class="rightlink"><a href="/">Logout</a></div>
    </nav>
    <h1>About Us</h1>
    <b
      >AlgoNote book is here to ensure that you are able to increase the <br />
      the overall development time of your projects by allowing you to write
      your
      <br />
      project algorithm in an efficient way.</b
    >
  </body>
</html>
