<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="content">
        <div class="logo"><a href="/home/<%=id%>">LMS</a></div>
        <ul class="links">
          <li><a href="/home/<%=id%>">Home</a></li>
          <li><a href="/home/<%=id%>/addNote">Add note</a></li>
          <li><a href="/home/<%=id%>/myNotes">My Notes</a></li>
          <li><a href="/home/<%=id%>/about">About</a></li>
        </ul>
      </div>
      <div class="rightlink"><a href="/">Logout</a></div>
    </nav>
    <main>
      <section>
        <h1>
          Welcome <%=name%>... <br />
          to <br />
          The <br />
          ALGONotes Book
        </h1>
      </section>
    </main>
  </body>
</html>
